.delivery {
    font: 400 16px/28px Roboto, "Helvetica Neue", sans-serif;
}

.addressList {
    display: inline-block;
    list-style-type: none;
    padding-left: 4px;
    margin-top: 0;
}

.addressView {
    display: flex;
    flex-direction: row;
}

table, td, th {
    border: 1px solid white;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: center;
  }

  h3 {
      margin: 0;
  }

  .titles {
    font-size: 14px;
    font-weight: 100;
  }